<h1>Listing users</h1>

<table>
  <tr>
    <th>Id</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Level</th>
    <th>Foursquare</th>
    <th>Device token</th>
    <th>Updated at</th>
    <th>Created at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.level %></td>
    <td><%= user.foursquare_id %></td>
    <td><%= user.device_token.concat(4) %></td>    
    <td><%= user.updated_at %></td>
    <td><%= user.created_at %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
