<h1>Listing checkins</h1>

<table>
  <tr>
  	<th>Id</th>
    <th>User id</th>
    <th>Checkin_id</th>
    <th>Milestone</th>
    <th>Venue name</th>
    <th>Venue category</th>
    <th>Venue id</th>
    <th>Updated at</th>
    <th>Created at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user.checkins.each do |checkin| %>
  <tr>
  	<td><%= checkin.id %></td>
    <td><%= checkin.user_id %></td>
    <td><%= checkin.checkin_id %></td>
    <td><%= checkin.milestone_id %></td>
    <td><%= checkin.venue_name %></td>
    <td><%= checkin.venue_category %></td> 
    <td><%= checkin.venue_id %></td> 
    <td><%= checkin.updated_at %></td>
    <td><%= checkin.created_at %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_checkin_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Checkin', new_user_checkin_path %>
